<h4>Author</h4>
<img id="avatar" class="left" src="http://www.gravatar.com/avatar/80bd80bc2195754779f7aa6e1f9deab6?s=60" />
<p>
  Pitr.ch<br />
  My native language is Ruby, please forgive me for my bad English...
</p>

<h4>Links</h4>
<ul>
  <li><a href="https://github.com/ruby-hammer">Hammer organization on Github</a></li>
  <!--  <li><a href="https://github.com/ruby-hammer/hammer">Hammer - repository</a></li>
    <li><a href="http://www.pivotaltracker.com/projects/23639">Hammer - tasks</a></li>-->
  <!--  <li><a href="https://github.com/ruby-hammer/hammer/issues">Hammer tasks</a></li>-->
  <li><a href="http://rubysoc.org/">Ruby Summer of Code</a></li>
</ul>

